# Mac ugly stuff
*.DS_Store

# Stuff
**/*~
**/.nfs*

# I/O
**/in*
!**/in*.*
**/out*
!**/out*.*
**/err*
!**/err*.*
**/test*
!**/test*.*
**/sol*
!**/sol*.*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
